.states-grid{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 75%;
  gap:30px;
  margin: auto;
  align-items: start;
}
@media (max-width: 1100px){
  .states-grid{ grid-template-columns: repeat(2, 1fr); max-width: 900px; }
}
@media (max-width: 700px){
  .states-grid{ grid-template-columns: 1fr; max-width: 420px; }
}

.state-column {
    background: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.state-column h2 {
    color: #0f1d32;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

.state-column h4 {
    text-align: center;
    text-decoration: underline;
}
.state-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.state-column li {
    padding: 6px 0;
}
.state-column a {
    color: #004aad;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.3rem;
}
.state-column a:hover {
    text-decoration: underline;
}