{% extends "base.html" %}

{% block title %}Equipment{% endblock %}

{% block content %}
{% load static %}
<script src="{% static 'home/js/carousel.js' %}" defer></script>
<link rel="stylesheet" href="{% static 'home/css/first-responders.css' %}">
<link rel="stylesheet" href="{% static 'home/css/amenities.css' %}">
<link rel="stylesheet" href="{% static 'home/css/photos.css' %}">

<h1 style="text-align: center; color: white; font-style: italic; font-weight: bold;font-size: 4rem;">Boating Equipment</h1>

<div class="carousel-text-container">
    <div class="text-container">
        <p style="line-height: 1.6;">Saftey is our number one prioity. We provide everything you need for a safe and comfortable boating experience - Depth finders, GPS, Radios, Speakers, Lights, VHF, Life Vests, and more. Our boats are equipped with life jackets for all passengers, a first aid kit, biminies, dual anchors, and other essentials.</p>
    </div>

    <div class="rotater-container">
        <div class="rotater">
            <div class="rotater-item" style="justify-content: center;align-items: center;text-align: center;">
                <img src="{% static 'home/images/Marine-Equipment2.jpg' %}" alt="Boating Equipment">
            </div>

            <div class="rotater-item">
                <img src="{% static 'home/images/Garmin.jpg' %}" alt="Boating Equipment">
            </div>

            <div class="rotater-item">
                <img src="{% static 'home/images/Marine-Equipment.jpg' %}" alt="Boating Equipment">
            </div>

        </div>
        <button class="rotater-btn prev">&lt;</button>
        <button class="rotater-btn next">&gt;</button>
    </div>
               
</div>

{% endblock %}