{% extends "base.html" %}

{% block title %}Equipment{% endblock %}

{% block content %}
{% load static %}
<script src="{% static 'js/carousel.js' %}" defer></script>
<link rel="stylesheet" href="{% static 'css/photos.css' %}">
<h1 style="text-align: center;">Boating Equipment</h1>
<div style="display: flex; flex-direction: row;">
    <div class="carousel-text-container">
        <!-- Carousel Section -->
        <div class="carousel-container">
            <div class="carousel">
                <div class="carousel-item">
                    <img src="{% static 'images/boating_equipment.jpg' %}" alt="Boating Equipment">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/simrad.jpg' %}" alt="Simrad">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/johnny_and_brian.jpg' %}" alt="johnny and brian">
                </div>
            </div>
            <button class="carousel-btn prev">&lt;</button>
            <button class="carousel-btn next">&gt;</button>
        </div>
    </div>

    <p style="line-height: 1.6; background-color: #0f1d32; color: white;">Saftey is our number one prioity. We provide everything you need for a safe and comfortable boating experience - Depth finders, GPS, Radios, Speakers, Lights, VHF, Life Vests, and more. Our boats are equipped with life jackets for all passengers, a first aid kit, biminies, dual anchors, and other essentials.</p>

</div>

{% endblock %}