{% extends "base.html" %}

{% block title %}Maintenance{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'home/css/maintenance.css' %}">
<div class="container">
    <br><br>

    
    <div class="left-50">
        <br>
        <img src="{% static 'home/images/boat_powerwash.jpg' %}" alt="We do the dirty work">
    </div>
    <br><br>
<div class="right-50">
    <h1 style="text-align: center;">Maintenance</h1>
    <div>

            <p>Instead of cleaning, repairing, storing, taxes, depreciation, trailering, routine maintenance and 
                all the other hassles of owning a boat, we here at Destination Boat Clubs™ we take that
                head ache away from you. Thus, allowing you to have a fun filled day on the water, hassle free and worry free. 
                Isn't that the way boating should be?</p>

        </div>
    </div>

</div>


{% endblock %}