{% extends "base.html" %}

{% block title %}Membership Perks{% endblock %}

{% block content %}
{% load static %}
<script src="{% static 'home/js/carousel.js' %}" defer></script>
<link rel="stylesheet" href="{% static 'home/css/amenities.css' %}">
<link rel="stylesheet" href="{% static 'home/css/photos.css' %}">
<link rel="stylesheet" href="{% static 'home/css/photos.css' %}">
<link rel="stylesheet" href="{% static 'boats_and_locations/css/marina_flyer2.css' %}">


<div class="page">

    <section class="marina-hero">
        <img src="{% static 'home/images/baseball_field.jpg' %}">


        <div class="marina-hero-overlay">
            <div class="marina-hero-inner">
                <h1>Membership Perks</h1>
                <h3>Its All About The Perks</h3>
                <p>On a first come, first served basis, Destination Boat Clubs™ offers special perks just by being a member.</p>
            </div>
        </div>
    
    </section>

    <div class="carousel-text-container">
        <!-- Carousel Section --> 
        <div class="text-container">
            <h2>Charlotte Checkers</h2>
            <div class="logo">
                <img src="{% static 'home/images/charlotte_checkers.png'%}" alt="Logo 2" style="height: 200px;">

            </div>


            <p>Destination Boat Clubs™ has two tickets for the Charlotte Checkers Home Games in the lower bowl. They are free to members on a first come, first served basis.</p>
        </div>

        <div class="carousel-container">
            <img src="{% static 'home/images/checkers3.jpg'%}" alt="Logo 2" style="object-fit: cover; height: 500px;">

        </div>
       
    </div>

    <div class="carousel-text-container">
        <!-- Carousel Section --> 
        
        
        <div class="carousel-container">
            <img src="{% static 'home/images/bryce-young.jpg'%}" alt="Logo 2" style="object-fit: cover; height: 500px;">

        </div>

        <div class="text-container">
            <h2>Carolina Panthers</h2>
            <div class="logo">
                <img src="{% static 'home/images/carolina-panthers.png'%}" alt="Logo 2" style="height: 200px;">

            </div>


            <p>Destination Boat Clubs™ has tickets for the Carolina Panthers Home Games. They are free to members on a first come, first served basis.</p>
        </div>
       
    </div>

    <div class="carousel-text-container">
        <!-- Carousel Section --> 


        <div class="text-container">
            <h2>Kannapolis Cannon Ballers</h2>
            <div class="logo">
                <img src="{% static 'home/images/KannapolisCannonBallers.png'%}" alt="Logo 2" style="height: 200px;">

            </div>


            <p>Destination Boat Clubs™ is proud to sponser the Kannapolis Cannon Ballers Baseball. We offer tickets to home games to members. They are free to members on a first come, first served basis.</p>
        </div>
               
        
        <div class="carousel-container">
            <img src="{% static 'home/images/cannonballers.jpg'%}" alt="Logo 2" style="object-fit: cover; height: 500px;">

        </div>
    </div>

    <div class="carousel-text-container">
        <!-- Carousel Section --> 


        <div class="text-container">
             <h2>Coca Cola 600</h2>
            <div class="logo">
                <img src="{% static 'home/images/Coca-Cola-600.png'%}" alt="Logo 2" style="height: 200px;">
            </div>
            <p>Destination Boat Clubs™ has tickets to the Coca Cola 600. They are free to members on a first come, first served basis. Call for availability.</p>
        </div>
               
        
        <div class="photos">
            <img src="{% static 'home/images/coca-cola-race.jpg'%}" alt="Logo 2" style="object-fit: cover; height: 500px;">

        </div>
    </div>
    
    <div class="carousel-text-container">
        <div class="carousel-container">
            <img src="{% static 'home/images/knights_pitcher.jpg'%}" alt="Logo 2" style="object-fit: cover; height: 500px;">

        </div>

        <div class="text-container">
            <h2>Charlotte Knights</h2>
            <div class="logo">
                <img src="{% static 'home/images/charlotte_knights.png'%}" alt="Logo 2" style="height: 200px;">

            </div>


            <p>Destination Boat Clubs™ is proud to sponser Charlotte Knights Baseball. We offer tickets to home games to members. They are free to members on a first come, first served basis.</p>
        </div>
       
    </div>


    <div class="carousel-text-container">
        <!-- Carousel Section --> 


        <div class="text-container">
            <h2>Beach House</h2>
            <p>Destination Boat Clubs™ has a beach house available for its members only in Outer Banks near Beaufort, NC.</p>
            <p>Call for availability.</p>
        </div>
               
        
        <div class="carousel-container">
            <img src="{% static 'home/images/beach-house.jpg'%}" alt="Logo 2" style="width: 100%;">
        </div>
    </div>


    <div class="carousel-text-container">
        <div class="carousel-container">
            <img src="{% static 'home/images/tiny-lake-house.jpg'%}" alt="Logo 2" style="width: 100%;">

        </div>

        <div class="text-container">
            <h2>Tiny Lake House</h2>
            <p>Destination Boat Clubs™ has a lake house available on Lake James, North Carolina that is available for use.</p>
            <p>Call for availability.</p>
        </div>
       
    </div>

</div>

{% endblock %}