{% extends "base.html" %}

{% block title %}Membership Perks{% endblock %}

{% block content %}
{% load static %}
<script src="{% static 'js/carousel.js' %}" defer></script>
<link rel="stylesheet" href="{% static 'css/amenities.css' %}">
<link rel="stylesheet" href="{% static 'css/photos.css' %}">

<div class="page">
    <div class="photos">
    

        <img src="{% static 'images/baseball_field.jpg' %}">
        <div class="photo-text top" style="background: rgba(0,0,0,0.2);">
            <div class="h1">Membership Perks</div>
            <h3 style="font-weight: bold;">Its All About The Perks</h3>
            <p>On a first come, first served basis, Destination Boat Clubs Carolinas™ offers special perks just by being a member.</p>

        </div>
        
    </div>
    <div class="carousel-text-container">
        <!-- Carousel Section --> 
        <div class="text-container">
            <h2>Charlotte Checkers</h2>
            <div class="logo">
                <img src="{% static 'images/charlotte_checkers.png'%}" alt="Logo 2" style="height: 200px;">

            </div>


            <p>Destination Boat Clubs Carolinas™ has two tickets for the Charlotte Checkers Home Games in the lower bowl. They are free to members on a first come, first served basis.</p>
        </div>
        <div class="carousel-container">
            <div class="carousel">
                <div class="carousel-item">
                    <img src="{% static 'images/checkers1.jpg' %}" alt="Resort Marina">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/checkers2.jpg' %}" alt="Pool">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/checkers3.jpg' %}" alt="Dining Experience">
                </div>
            </div>
            <button class="carousel-btn prev">&lt;</button>
            <button class="carousel-btn next">&gt;</button>
        </div>
       
    </div>

    <div class="carousel-text-container">
        <!-- Carousel Section --> 
        
        
        <div class="carousel-container">
            <img src="{% static 'images/bryce-young.jpg'%}" alt="Logo 2" style="object-fit: cover; height: 500px;">

        </div>

        <div class="text-container">
            <h2>Carolina Panthers</h2>
            <div class="logo">
                <img src="{% static 'images/carolina-panthers.png'%}" alt="Logo 2" style="height: 200px;">

            </div>


            <p>Destination Boat Clubs Carolinas™ has tickets for the Carolina Panthers Home Games. They are free to members on a first come, first served basis.</p>
        </div>
       
    </div>

    <div class="carousel-text-container">
        <!-- Carousel Section --> 


        <div class="text-container">
            <h2>Kannapolis Cannon Ballers</h2>
            <div class="logo">
                <img src="{% static 'images/KannapolisCannonBallers.png'%}" alt="Logo 2" style="height: 200px;">

            </div>


            <p>Destination Boat Clubs Carolinas™ is proud to sponser the Kannapolis Cannon Ballers Baseball. We offer tickets to home games to members. They are free to members on a first come, first served basis.</p>
        </div>
               
        
        <div class="carousel-container">
            <img src="{% static 'images/cannonballers.jpg'%}" alt="Logo 2" style="object-fit: cover; height: 500px;">

        </div>
    </div>

    <div class="carousel-text-container">
        <!-- Carousel Section --> 


        <div class="text-container">
             <h2>Coca Cola 600</h2>
            <div class="logo">
                <img src="{% static 'images/coca-cola-600.png'%}" alt="Logo 2" style="height: 200px;">
            </div>
            <p>Destination Boat Clubs Carolinas™ has tickets to the Coca Cola 600. They are free to members on a first come, first served basis. Call for availability.</p>
        </div>
               
        
        <div class="photos">
            <img src="{% static 'images/coca-cola-race.jpg'%}" alt="Logo 2" style="object-fit: cover; height: 500px;">

        </div>
    </div>
    
    <div class="carousel-text-container">
        <div class="carousel-container">
            <img src="{% static 'images/knights_pitcher.jpg'%}" alt="Logo 2" style="object-fit: cover; height: 500px;">

        </div>

        <div class="text-container">
            <h2>Charlotte Knights</h2>
            <div class="logo">
                <img src="{% static 'images/charlotte_knights.png'%}" alt="Logo 2" style="height: 200px;">

            </div>


            <p>Destination Boat Clubs Carolinas™ is proud to sponser Charlotte Knights Baseball. We offer tickets to home games to members. They are free to members on a first come, first served basis.</p>
        </div>
       
    </div>


    <div class="carousel-text-container">
        <!-- Carousel Section --> 


        <div class="text-container">
            <h2>Beach House</h2>
            <p>Destination Boat Clubs Carolinas™ has a beach house available for its members only in Outer Banks near Beaufort, NC.</p>
            <p>Call for availability.</p>
        </div>
               
        
        <div class="carousel-container">
            <img src="{% static 'images/beach-house.jpg'%}" alt="Logo 2" style="width: 100%;">
        </div>
    </div>


    <div class="carousel-text-container">
        <div class="carousel-container">
            <img src="{% static 'images/tiny-lake-house.jpg'%}" alt="Logo 2" style="width: 100%;">

        </div>

        <div class="text-container">
            <h2>Tiny Lake House</h2>
            <p>Destination Boat Clubs Carolinas™ has a lake house available on Lake James, North Carolina that is available for use.</p>
            <p>Call for availability.</p>
        </div>
       
    </div>

</div>

{% endblock %}