# General Python ignores
*.py[cod]
__pycache__/
*.so

# Virtual environment
env/
venv/

# Database
*.sqlite3
*.db

# Media and static files
# media/
staticfiles/

# Local settings
local_settings.py

# Log files
*.log

# If using PyCharm or VSCode, you might want to exclude their directories
.idea/
.vscode/

# macOS specific ignores
.DS_Store

# Windows specific ignores
Thumbs.db

.codegpt