{% extends "base.html" %}
{% block content %}
<table border="2">
    <tr>
        <th>Marina</th>
        <th>Member Name</th>
        <th>Reservation Boat</th>
        <th>Reservation Date</th>
    </tr>
    {% for reservation in reservations %}
    <tr>
        <td>{{ reservation.boat.marina.name }} </td>
        <td>{{ reservation.user.first_name }} {{ reservation.user.last_name }}</td>
        <td>{{ reservation.boat.name }}</td>
        <td>{{ reservation.date }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}