{% extends "base.html" %}
{% block content %}
<h1> Float plan for {{ form.boat.name }} for {{ date }}</h1>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit Float Plan</button>
</form>

<p>By submitting this form, you agree that you will adhere to all rules and regulations provided by Destination Boat Club. You also agree that you will inspect the vessel to ensure the vessel is in good shape. You will be responsible for any damage incured while the vessel is in your possession. You also agree that you will not beach this vessel, nor are you allowed within  50 feet of the shore line. You also agree that I/O vessels are required to be in atleast 4 feet of water at all times, and tritoons must be in atleast 3 feet of water at all times.</p>
{% endblock %}