{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'home/css/two_coulmns.css' %}">
<link rel="stylesheet" href="{% static 'home/css/grid.css' %}">


<div class="container">
    <div class="left" style="width: 50%;">
        <h1>To view the schedule for {{ marina.name }}, click here</h1>
        <div class="grid-container">
            <a href="{% url 'schedule_calendar' marina.id %}" class="grid-item">
                
                <h3>Schedule for {{ marina.name }}</h3>
                
            </a>
        </div>
    </div>
    <div class="right" style="width: 50%;">
        <h1>To View the reservations for {{ marina.name }}, click here</h1>
        <div class="grid-container">
            <a href="{% url 'reservation_calendar' marina.id %}" class="grid-item">
                
                <h3>Reservations for {{ marina.name }}</h3>
                
            </a>
        </div>
    </div>

</div>
<h1>To View the boats at {{ marina.name }}, click here</h1>
<div class="grid-container">
    <a href="{% url 'marina_detail' marina.id %}" class="grid-item">
        
        <h3>{{ marina.name }}</h3>
        
    </a>
</div>

{% endblock %}