/* General Styling */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow-x: hidden;
}

main {
    min-height: 65vh;
    background-color: #0f1d32;
}

/* Header Styling */
.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0f1d32;
    color: #FFFFFF;
    padding: 10px 20px;
}
.header-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.header-text a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-text h1 {
  color: white;
  font-family: 'Orbitron', sans-serif;
  font-weight: 900;
  font-size: 2.75rem;
  margin: 0;
  font-style: italic;
}

.logo {
    margin-bottom: 10px; /* Add space between logo and navigation */
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
}
.navbar ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.navbar ul li {
    margin: 0 15px;
    position: relative;
}

.navbar ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

.navbar ul li a:hover {
    color: #00AEEF; /* Lighter blue for hover effect */
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;  /* spreads items evenly */
  align-items: center;
  margin: 0;
  flex-wrap: nowrap;
  gap: 1rem;
}

.nav-list li {
  flex: 1 1 0;                     /* makes them stretch out evenly */
  text-align: center;
  min-width: 0px;
}

.nav-list a {
  text-decoration: none;
  color: white;                /* or your preferred color */
  font-weight: bold;
  padding: 0.5rem;
  display: block;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #0f1d32;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    min-width: 200px;
    z-index: 1;
}
.dropdown-content a {
    color: white;
    padding: 10px 15px;
    display: block;
}

.dropdown-content a:hover {
    background-color: #1c3454; 
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Footer Styling */
.footer-container {
    background-color: #0f1d32;
    color: #FFFFFF;
    padding: 20px 0;
    text-align: center;
}

.footer-info a {
    color: #FFFFFF;
    text-decoration: none;
    margin: 0 10px;
}

.footer-info a:hover {
    color: #00AEEF; /* Hover color */
}

.social-media img {
    width: 30px;
    margin: 0 10px;
}

.video-container {
    justify-content: center;
    align-items: center;
    text-align: center;
}