{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'boats_and_locations/css/detail.css' %}">

<div class="boat-gallery-container">
    <h1>{{ boat.name }}</h1>

    <!-- Large display image -->
    <div class="main-image-container">
        <button class="nav-btn prev" onclick="changeImage(-1)">&#10094;</button>
        <img id="mainImage" src="{{ image_urls.0 }}" alt="{{ boat.name }}">
        <button class="nav-btn next" onclick="changeImage(1)">&#10095;</button>
    </div>

    <!-- Thumbnails -->
    <div class="thumbnail-row">
        {% for image in image_urls %}
            <img class="thumbnail" src="{{ image }}" alt="{{ boat.name }}" onclick="setImage({{ forloop.counter0 }})">
        {% endfor %}
    </div>
</div>
    
<script>
    const images = {{ image_urls|safe }};
</script>
<script src="{% static 'boats_and_locations/js/boat_detail.js' %}"></script>


{% endblock %}


