{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'boats_and_locations/css/detail.css' %}">
<link rel="stylesheet" href="{% static 'home/css/amenities.css' %}">

<div style="padding: 20px 0 0 20px;">
    <a href="{% url 'boats' %}" class="learn-more-btn">&#8592; Back to Fleet</a>
</div>

<div class="boat-gallery-container">
    <h1>{{ boat.name }}</h1>

    <!-- Display single image -->
    <div class="main-image-container">
        <img id="mainImage" src="{{ boat.image.url }}" alt="{{ boat.name }}">
    </div>
</div>


{% endblock %}
