{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'boats_and_locations/css/three_columns.css' %}">
<link rel="stylesheet" href="{% static 'boats_and_locations/css/grid.css' %}">

<div class="container">
    <div class="left-25">
        <h2>{{ boat.name }} ({{ boat.marina.name }})</h2>
        <img src="{{ boat.image.url }}" alt="{{ boat.name }}" style="width: 100%; height: auto; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    </div>

    <div class="middle-25" style="padding-left: 30px;">
        
        <p><strong>Type:</strong> {{ boat.boat_type }}</p>
        <p><strong>Description:</strong> {{ boat.description }}</p>
        <p><strong>Open:</strong> {{ boat.open|yesno:"Yes,No" }}</p>
        <p><strong>Available:</strong> {{ boat.available_to_customers|yesno:"Yes,No" }}</p>
        <p><strong>Issues:</strong> {{ boat.issues }}</p>
        <p><strong>Rules:</strong> {{ boat.rules }}</p>
    </div>
    
    <div class="right-50" >
        <h1>Boat Availabilty</h1>
        <h2>Morning</h2>
        {% if morning_available and all_day_available %}
        <a href="{% url 'reserve_boat' boat.id date %}?time_slot=Morning">
            <button type="button">Reserve Morning</button>
        </a>
        {% else %}
        <p><strong>Morning: Booked</strong></p>
        {% endif %}
        <h2>Afternoon</h2>
        {% if afternoon_available and all_day_available %}
        <a href="{% url 'reserve_boat' boat.id date %}?time_slot=Afternoon">
            <button type="button">Reserve afternoon</button>
        </a>
        {% else %}
        <p><strong>Afternoon: Booked</strong></p>
        {% endif %}
        <h2>All Day</h2>

        {% if all_day_available and morning_available and afternoon_available %}
        <a href="{% url 'reserve_boat' boat.id date %}?time_slot=All Day">
            <button type="button">Reserve All Day</button>
        </a>
        {% else %}
        <p><strong> All Day: Booked</strong></p>
        {% endif %}
    </div>
</div>
<h1>Would you like to view other boats at this marina?</h1>
<div class="grid-container">
    <a href ="{% url 'marina_detail' marina.id %}" class="grid-item">
        <div>
            <h3> {{ marina.name }} ({{ marina.lake }}) </h3>
        </div>
    </a>
</div>
{% endblock %}