{% extends 'base.html' %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'boats_and_locations/css/grid.css' %}">

<!-- <div style="position:relative;
            height: 70vh;
            width: 100vw;
            margin-left: calc(50% - 50vw);
            margin-top: -100px;
            overflow: hidden;
            max-width: none !important;">
    <iframe src="https://player.vimeo.com/video/826353789?autoplay=1&amp;muted=1&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" 
    frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    style="position:
            absolute;
            top:50%;
            left:50%;
            width:120vw;
            height:100%;
            object-fit: cover;
            transform: translate(-50%, -50%) scale(1.4);"
    title="Destination full_Vimeo">
    </iframe>
</div>
<script src="https://player.vimeo.com/api/player.js"></script> -->

<br><br>

<h1 style="text-align: center; color: white; font-style: italic; font-weight: bold;font-size: 4rem;">Our Fleet</h1>

<br>


<div id="boat-grid" class="grid-container fleet-grid">
    {% for boat in boats %}
    <a href="{% url 'boat_detail' boat.slug %}" class="grid-item">
        <div>
            <h3> {{ boat.name }}</h3>
            <img src="{{ boat.image.url }}" alt="{{ boat.name }}">

            <p>{{ boat.boat_type }}</p>

        </div>
    </a>
    {% endfor %}
        
</div>
{% if user.is_authenticated and is_boss %}

    <a href="{% url 'add_boat' %}">Add New Boat</a>
{% endif %}

{% endblock  %}
