{% extends 'base.html' %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'boats_and_locations/css/grid.css' %}">
<script src="{% static 'boats_and_locations/js/filtering.js' %}"></script>

<div style="padding:56.25% 0 0 0;position:relative; margin-top: -20px;margin-left: -20px;margin-right: -20px;width: calc(100%+40px); height: 400px;">
    <iframe src="https://player.vimeo.com/video/826353789?autoplay=1&amp;muted=1&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share" referrerpolicy="strict-origin-when-cross-origin" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Destination full_Vimeo"></iframe>
</div>
<script src="https://player.vimeo.com/api/player.js"></script>

<br><br><hr>

<h1 style="text-align: center; color: white;">Our Fleet</h1>

<div style="text-align: center;">
    <label for="boat_type" style="color: white;">Filter by Boat Type:</label>
    <select name="boat_type" id="boat_type">
        <option value="">All Boat Types</option>
        {% for type in boat_types %}
        <option value="{{ type }}">{{ type }}</option>
        {% endfor %}
    </select>
</div>

<br>

<div id="boat-grid" class="grid-container">
    {% for boat in boats %}
    <a href="{% url 'boat_detail' boat.id %}" class="grid-item">
        <div>
            <h3> {{ boat.name }}</h3>
            <img src="{{ boat.image.url }}" alt="{{ boat.name }}" style="max-width: 75%; height: auto;">

            <p>{{ boat.boat_type }}</p>

        </div>
    </a>
    {% endfor %}
        
</div>
{% if user.is_authenticated and is_boss %}

    <a href="{% url 'add_boat' %}">Add New Boat</a>
{% endif %}

{% endblock  %}