{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/grid.css' %}">
<link rel="stylesheet" href="{% static 'css/map.css' %}">

<section class="map-section">
  <h2 class="map-title">Our Locations</h2>
  <div id="map"></div>

  <!-- Mapbox JS & CSS -->
  <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
  <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">

  <!-- Your custom JS file -->
  {% load static %}
  <script src="{% static 'js/map.js' %}"></script>
</section>

{% if user.is_member %}
    <h1>{{ user.first_name }}'s Home Marina:</h1>
        <div class="grid-container">

            {% if user.home_marina %}
                <a href="{% url 'marina_detail' user.home_marina.id %}" class="grid-item">
                    <div>
                        <h3> {{ user.home_marina.name }} ({{ user.home_marina.lake }}) </h3>
                        <p>{{ user.home_marina.address }}</p>
                        <p>Boats available at this marina: {{ user.home_marina.marina_boats_count }}</p>
                    </div>
                </a>
            {% else %}
                <p>You don't have a home marina set yet.</p>
            {% endif %}
        </div>
    <h1>Other Locations</h1>
{% else %}
    <h1>Locations</h1>
{% endif %}
    <div class="grid-container">
        {% for marina in marinas %}
        <a href ="{% url 'marina_detail' marina.id %}" class="grid-item">
            <div>
                <h3> {{ marina.name }} ({{ marina.lake }}) </h3>
                <p>{{ marina.address }}</p>
            </div>
        </a>
        {% endfor %}
    </div>

    {% if user.is_authenticated and user.is_boss %}
        <a href="{% url 'add_location' %}">Add New Marina</a>
    {% endif %}

{% endblock  %}