{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/grid.css' %}">
<link rel="stylesheet" href="{% static 'css/map.css' %}">
<link rel="stylesheet" href="{% static 'css/groups.css' %}">

<img src="{% static 'images/marina.jpg' %}">
<h1 style="text-align: center;">Our Locations</h1>

<div class="grid-container">
    {% for state, marinas in grouped_marinas.items %}
    <div class="state-column">
        <h2>{{ state }}</h2>
        <ul>
            {% for marina in marinas %}
            <li>
                <a href="{% url 'marina_detail' marina.pk %}">
                    {{ marina.name }}
                </a><br>
                <small>{{ marina.address }}</small>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>

{% endblock  %}